h1 {
  text-align: center;
  color: green;
}
#emailform {
  display: block;
  margin: 100 auto;
  margin-left: 100px;
}
#enterEmail {
  padding: 20px;
  background-color: aqua;
  border-radius: 15px;
}
